* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 20px 0;
}

button.btn.btn-sm.btn-primary {
    background: blue;
    border: 1px solid blue;
}

button.btn.btn-sm.btn-primary:hover {
    color: blue; 
    border: 1px solid blue;
    background: #fff;
}

main {
    padding: 40px 0;
}

footer {
    padding: 20px 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}